<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamila.zm.twitterclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".TwitterClientApplication"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="edc59603085bed32e1b73fffcc1104979f96039b"
            />

    </application>

</manifest>
